body {
	background-image: url("images/backgroundImg.jpg"); 
	background-repeat:no-repeat; 
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover; 
	font-family:"gill sans";
	background-color:black;
} 

.logo {
	width:200px;
	margin-top:-120px;
}

.in {
	width:120px;
	position:relative;
	left:600px;
}

.out {
	width:120px;
	position:relative;
	left:740px;
	top:-125px;
}

.inButtonBackground {
	width:120px;
	position:relative;
	left:600px;
	top:120px;
}

.outButtonBackground {
	width:120px;
	position:relative;
	left:616px;
	top:120px;
}

.notWorking {
	width:252px;
	position:relative;
	left:604px;
	top:-166px;
}

.aboutButtonBackground {
	width:260px;
	height:60px;
	position:relative;
	left:600px;
	top:-110px;
}

.aboutSection {
	background-color:black;
	color:#ffffff;
	padding:15px;
	width:260px;
	height:260px;
	position:relative;
	left:600px;
	top:-168px;
}

.welcome {
	width:100px;
	margin-bottom:15px;
	margin-top:5px;
}

p {
	margin-left:5px;
	font-weight:100;
	line-height:1.2em;
}

.buttonGroupTwo {
	margin-left:10px;
	margin-top:; /* DELETE MARGIN TOP ONCE MEDIA QUERIES ARE COMPLETE. */
}


/** MEDIA QUERIES FOR BUTTON GROUP **/

@media only screen and (max-width: 1440px) {
 
	.buttonGroupTwo {
		position:relative;
		right:20px;
	}

}


@media only screen and (max-width: 1420px) {
 
	.buttonGroupTwo {
		position:relative;
		right:30px;
	}

}





@media only screen and (max-width: 1400px) {
 
	.buttonGroupTwo {
		position:relative;
		right:40px;
	}

}

@media only screen and (max-width: 1380px) {
 
	.buttonGroupTwo {
		position:relative;
		right:50px;
	}

}

@media only screen and (max-width: 1360px) {
 
	.buttonGroupTwo {
		position:relative;
		right:60px;
	}

}

@media only screen and (max-width: 1340px) {
 
	.buttonGroupTwo {
		position:relative;
		right:70px;
	}

}

@media only screen and (max-width: 1320px) {
 
	.buttonGroupTwo {
		position:relative;
		right:80px;
	}

}

@media only screen and (max-width: 1300px) {
 
	.buttonGroupTwo {
		position:relative;
		right:90px;
	}

}

@media only screen and (max-width: 1280px) {
 
	.buttonGroupTwo {
		position:relative;
		right:100px;
	}

}

@media only screen and (max-width: 1260px) {
 
	.buttonGroupTwo {
		position:relative;
		right:110px;
	}

}

@media only screen and (max-width: 1240px) {
 
	.buttonGroupTwo {
		position:relative;
		right:120px;
	}

}

@media only screen and (max-width: 1220px) {
 
	.buttonGroupTwo {
		position:relative;
		right:130px;
	}

}

@media only screen and (max-width: 1200px) {
 
	.buttonGroupTwo {
		position:relative;
		right:140px;
	}

}

@media only screen and (max-width: 1180px) {
 
	.buttonGroupTwo {
		position:relative;
		right:150px;
	}

}

@media only screen and (max-width: 1160px) {
 
	.buttonGroupTwo {
		position:relative;
		right:160px;
	}

}

@media only screen and (max-width: 1140px) {
 
	.buttonGroupTwo {
		position:relative;
		right:170px;
	}

}

@media only screen and (max-width: 1120px) {
 
	.buttonGroupTwo {
		position:relative;
		right:180px;
	}

}

@media only screen and (max-width: 1100px) {
 
	.buttonGroupTwo {
		position:relative;
		right:190px;
	}

}

@media only screen and (max-width: 1080px) {
 
	.buttonGroupTwo {
		position:relative;
		right:200px;
	}

}

@media only screen and (max-width: 1060px) {
 
	.buttonGroupTwo {
		position:relative;
		right:210px;
	}

}

@media only screen and (max-width: 1040px) {
 
	.buttonGroupTwo {
		position:relative;
		right:220px;
	}

}

@media only screen and (max-width: 1020px) {
 
	.buttonGroupTwo {
		position:relative;
		right:230px;
	}

}

@media only screen and (max-width: 1000px) {
 
	.buttonGroupTwo {
		position:relative;
		right:240px;
	}

}

@media only screen and (max-width: 980px) {
 
	.buttonGroupTwo {
		position:relative;
		right:250px;
	}

}

@media only screen and (max-width: 960px) {
 
	.buttonGroupTwo {
		position:relative;
		right:260px;
	}

}

@media only screen and (max-width: 940px) {
 
	.buttonGroupTwo {
		position:relative;
		right:270px;
	}

}

@media only screen and (max-width: 920px) {
 
	.buttonGroupTwo {
		position:relative;
		right:280px;
	}

}

@media only screen and (max-width: 900px) {
 
	.buttonGroupTwo {
		position:relative;
		right:290px;
	}

}

@media only screen and (max-width: 880px) {
 
	.buttonGroupTwo {
		position:relative;
		right:300px;
	}

}

@media only screen and (max-width: 860px) {
 
	.buttonGroupTwo {
		position:relative;
		right:310px;
	}

}

@media only screen and (max-width: 840px) {
 
	.buttonGroupTwo {
		position:relative;
		right:320px;
	}

}

@media only screen and (max-width: 820px) {
 
	.buttonGroupTwo {
		position:relative;
		right:330px;
	}

}
@media only screen and (max-width: 800px) {
 
	.buttonGroupTwo {
		position:relative;
		right:340px;
	}

}
@media only screen and (max-width: 780px) {
 
	.buttonGroupTwo {
		position:relative;
		right:350px;
	}

}

@media only screen and (max-width: 760px) {
 
	.buttonGroupTwo {
		position:relative;
		right:360px;
	}

}

@media only screen and (max-width: 740px) {
 
	.buttonGroupTwo {
		position:relative;
		right:370px;
	}

}

@media only screen and (max-width: 720px) {
 
	.buttonGroupTwo {
		position:relative;
		right:380px;
	}

}

@media only screen and (max-width: 700px) {
 
	.buttonGroupTwo {
		position:relative;
		right:390px;
	}

}

@media only screen and (max-width: 680px) {
 
	.buttonGroupTwo {
		position:relative;
		right:400px;
	}

}

@media only screen and (max-width: 660px) {
 
	.buttonGroupTwo {
		position:relative;
		right:410px;
	}

}

@media only screen and (max-width: 640px) {
 
	.buttonGroupTwo {
		position:relative;
		right:420px;
	}

}

@media only screen and (max-width: 620px) {
 
	.buttonGroupTwo {
		position:relative;
		right:430px;
	}

}

@media only screen and (max-width: 600px) {
 
	.buttonGroupTwo {
		position:relative;
		right:440px;
	}

}

@media only screen and (max-width: 580px) {
 
	.buttonGroupTwo {
		position:relative;
		right:450px;
	}

}

@media only screen and (max-width: 560px) {
 
	.buttonGroupTwo {
		position:relative;
		right:460px;
	}

}

@media only screen and (max-width: 540px) {
 
	.buttonGroupTwo {
		position:relative;
		right:470px;
	}

}

@media only screen and (max-width: 520px) {
 
	.buttonGroupTwo {
		position:relative;
		right:480px;
	}

}

@media only screen and (max-width: 500px) {
 
	.buttonGroupTwo {
		position:relative;
		right:490px;
	}

}

@media only screen and (max-width: 480px) {
 
	.buttonGroupTwo {
		position:relative;
		right:500px;
	}

}

@media only screen and (max-width: 460px) {
 
	.buttonGroupTwo {
		position:relative;
		right:510px;
	}

}

@media only screen and (max-width: 440px) {
 
	.buttonGroupTwo {
		position:relative;
		right:520px;
	}

}

@media only screen and (max-width: 420px) {
 
	.buttonGroupTwo {
		position:relative;
		right:530px;
	}

}

@media only screen and (max-width: 400px) {
 
	.buttonGroupTwo {
		position:relative;
		right:540px;
	}

}





